{% extends 'monApp/base.html' %}
{% block title %}Détails : {{ stt.libelle }}{% endblock %}
{% block contenu %}
<h1>{{ titremenu }}</h1>
<ul class="list-group mb-3">
    <li class="list-group-item"><strong>Libellé :</strong> {{ stt.libelle }}</li>
    {% if produits %}
        <li class="list-group-item"><strong>Produits associés :</strong>
            <ul>
                {% for produit in produits %}
                    <li><a href="{% url 'monApp:detail_produit' produit.pk %}">{{ produit.intituleProd }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
</ul>
<a href="{% url 'monApp:list_statuts' %}" class="btn btn-dark">Retour à la liste</a>
{% endblock %}
