{% extends 'monApp/base.html' %}
{% block title %}Détails du rayon : {{ rayon.nomRayon }}{% endblock %}

{% block contenu %}
<h1>{{ titremenu }}</h1>

<h3>Produits dans ce rayon :</h3>
<ul class="list-group mb-3">
    {% for produit in produits %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ produit.intituleProd }}
        <a href="{% url 'monApp:detail_produit' produit.pk %}" class="btn btn-dark btn-sm">Voir</a>
    </li>
    {% empty %}
    <li class="list-group-item">Aucun produit dans ce rayon</li>
    {% endfor %}
</ul>

<a href="{% url 'monApp:list_rayons' %}" class="btn btn-dark">Retour à la liste des rayons</a>
{% endblock %}
